.about__section {
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-color: #fff;
}

.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__data h4 {
    color: #147efb;
    font-family: Poppins, sans-serif;
    font-size: 2rem;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.about__img {
    width: 350px;
    height: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__description {
    padding: 0 2rem 0 0;
    margin-bottom: var(--mb-2-5);
}

.img__side {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memoji {
    bottom: 7px;
    position: absolute;
    right: 55px;
    width: 4.3rem !important;
    z-index: 10;
}

.img__side span {
    background-color: #fff;
    border-radius: 50%;
    bottom: -35px;
    height: 9rem;
    position: absolute;
    right: 15px;
    width: 9rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.img__side span img {
    -webkit-animation: rotate 9s linear infinite;
    animation: rotate 9s linear infinite;
    width: 13rem;
}






/*Styling Journey*/
.journey {
    padding-top: 6rem;
}

.journey__container {
    max-width: 768px;
    margin: 0 auto; /* Tambahan baru */
}


.journey__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
    gap: 1rem;
}

.journey__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.journey__button:hover {
    color: #147efb;
}

.journey__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.journey__active {
    color: var(--title-color-dark);
}

.journey__sections {
    display: grid;
    grid-template-columns: initial;
    justify-content: center;
}

.journey__content {
    display: none;
}

.journey__content-active {
    display: block;
}

.journey__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.journey__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.journey__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.journey__calender {
    font-size: var(--small-font-size);
}

.journey__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.journey__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}






















@media screen and (max-width: 900px) {

    .journey__container {
        margin-left: auto; /* Tambahan baru */
        margin-right: auto; /* Tambahan baru */
    }
    

    .memoji {
        display: none;
    }

    .img__side span {
        display: none;
    }

    .about__container {
        display: flex; /* Tambahan baru */
        flex-direction: column; /* Tambahan baru */
        align-items: center; /* Tambahan baru */
    }

    .about__img {
        width: 300px;
        height: 300px; /* Adjust height to maintain aspect ratio */
    }

    .img__side {
        justify-content: center; /* Tambahan baru */
        align-items: center;    /* Tambahan baru */
    }

    .about__data {
        text-align: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .journey__container {
        margin-left: auto; /* Tambahan baru */
        margin-right: auto; /* Tambahan baru */
    }

    .about__section {
        padding-top: 6rem;
    }

    .about__description {
        padding: 0 3rem;
    }

    .about__img {
        width: 250px;
        height: 250px;
    }

    .button {
        padding: 10px;
    }
}

@media screen and (max-width: 576px) {

    .journey__content {
        padding-left: 30px;
        padding-right: 15px;
    }

    .journey__sections {
        grid-template-columns: initial;
    }

    .journey__button {
        font-size: 0.85rem;
    }

    .journey__button {
        margin: 0 var(--mb-0-75);
    }

    .about__section {
        padding: 5rem 0;
    }

    .about__description {
        padding: 0;
    }

    .about__img {
        width: 200px;
        height: 200px;
    }

    .about__section {
        padding: 5rem 0;
    }

    .home__section {
        padding-top: 5rem;
    }

    .button {
        padding: 10px;
    }
}

@media screen and (max-width: 350px) {

    .journey__data {
        gap: 0.5rem;
    }

    .about__img {
        width: 150px;
        height: 150px;
    }

    .about__data h4 {
        font-size: 2rem;
    }

    .about__section {
        padding: 5rem 0;
    }

    .home__section {
        padding-top: 4rem;
    }

    .button {
        padding: 10px;
    }
}
